In [38]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [39]:
path="C:\\Users\\basva\\Downloads\\Telecommunication"
df=pd.read_csv(path)     # importing Data
df.head(6)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes

In [40]:
df.columns

Index(['Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Churn'],
      dtype='object')

In [41]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('customerID', axis=1)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [42]:
# Type of Dataset
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [43]:
#shape of Dataset
df.shape

(7032, 20)

In [44]:
# columns in Dataset
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [45]:
# Information about Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [46]:
#checking null values in Dataset
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [47]:
import sklearn
print(sklearn.__version__)

1.2.2

### Input-'customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
###      'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
###      'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
###      'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
###      'PaymentMethod', 'MonthlyCharges', 'TotalCharges'

## Target-"Churn"
## Alg-classification task
## Evaluation- Accuracy
## Split the dataset into Training and Testing (recommended 75:25 split).

In [51]:
y=df['Churn']
X=df[[ 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges' 
      ]]

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=100)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(5274, 19) (5274,)
(1758, 19) (1758,)

In [53]:
X_train.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5514,Female,0,Yes,No,7,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),69.20,477.55
1671,Female,0,No,No,4,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,80.15,319.85
510,Male,0,No,No,61,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,106.45,6300.15
1590,Male,1,No,No,2,Yes,No,Fiber optic,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,74.70,165.40
3324,Female,0,Yes,No,18,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Mailed check,50.30,908.75

In [54]:
X_train_cat=X_train.select_dtypes(include=['object'])
X_train_cat.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
5514,Female,Yes,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic)
1671,Female,No,No,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check
510,Male,No,No,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check
1590,Male,No,No,Yes,No,Fiber optic,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
3324,Female,Yes,No,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Mailed check

In [55]:
X_train_num=X_train.select_dtypes(include=['int64','float64'])
X_train_num.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
5514              0       7           69.20        477.55
1671              0       4           80.15        319.85
510               0      61          106.45       6300.15
1590              1       2           74.70        165.40
3324              0      18           50.30        908.75

# Data preparation on train data:

In [56]:
from sklearn.preprocessing import StandardScaler
Scaler=StandardScaler()
x_train_num_rescaled=pd.DataFrame(Scaler.fit_transform(X_train_num),
                                 columns=X_train_num.columns,
                                 index=X_train_num.index)
x_train_num_rescaled.head()

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
5514      -0.438945 -1.035648        0.151080     -0.795902
1671      -0.438945 -1.157923        0.514997     -0.865409
510       -0.438945  1.165295        1.389062      1.770434
1590       2.278188 -1.239439        0.333869     -0.933484
3324      -0.438945 -0.587308       -0.477051     -0.605849

In [57]:
X_train_num.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    5274.000000  5274.000000     5274.000000   5274.000000
mean        0.161547    32.409556       64.654124   2283.323341
std         0.368070    24.537263       30.092133   2269.052626
min         0.000000     1.000000       18.250000     18.850000
25%         0.000000     9.000000       35.500000    395.725000
50%         0.000000    29.000000       70.250000   1394.325000
75%         0.000000    55.000000       89.850000   3778.075000
max         1.000000    72.000000      118.750000   8684.800000

In [59]:
X_train_cat['gender'].value_counts(normalize=True)

Male      0.505878
Female    0.494122
Name: gender, dtype: float64

In [60]:
X_train_cat['Partner'].value_counts(normalize=True)

No     0.521426
Yes    0.478574
Name: Partner, dtype: float64

In [61]:
X_train_cat['Dependents'].value_counts(normalize=True)

No     0.703641
Yes    0.296359
Name: Dependents, dtype: float64

In [62]:
X_train_cat['PhoneService'].value_counts(normalize=True)

Yes    0.904816
No     0.095184
Name: PhoneService, dtype: float64

In [63]:
X_train_cat['MultipleLines'].value_counts(normalize=True)

No                  0.487865
Yes                 0.416951
No phone service    0.095184
Name: MultipleLines, dtype: float64

In [64]:
X_train_cat['InternetService'].value_counts(normalize=True)

Fiber optic    0.437239
DSL            0.343572
No             0.219188
Name: InternetService, dtype: float64

In [65]:
X_train_cat['OnlineSecurity'].value_counts(normalize=True)

No                     0.496397
Yes                    0.284414
No internet service    0.219188
Name: OnlineSecurity, dtype: float64

In [66]:
X_train_cat['OnlineBackup'].value_counts(normalize=True)

No                     0.432878
Yes                    0.347933
No internet service    0.219188
Name: OnlineBackup, dtype: float64

In [67]:
X_train_cat['DeviceProtection'].value_counts(normalize=True)

No                     0.437050
Yes                    0.343762
No internet service    0.219188
Name: DeviceProtection, dtype: float64

In [68]:
X_train_cat['TechSupport'].value_counts(normalize=True)

No                     0.485021
Yes                    0.295791
No internet service    0.219188
Name: TechSupport, dtype: float64

In [69]:
X_train_cat['StreamingTV'].value_counts(normalize=True)

No                     0.399697
Yes                    0.381115
No internet service    0.219188
Name: StreamingTV, dtype: float64

In [70]:
X_train_cat['StreamingMovies'].value_counts(normalize=True)

No                     0.393250
Yes                    0.387562
No internet service    0.219188
Name: StreamingMovies, dtype: float64

In [71]:
X_train_cat['Contract'].value_counts(normalize=True)

Month-to-month    0.547402
Two year          0.237770
One year          0.214827
Name: Contract, dtype: float64

In [72]:
X_train_cat['PaperlessBilling'].value_counts(normalize=True)

Yes    0.588358
No     0.411642
Name: PaperlessBilling, dtype: float64

In [73]:
X_train_cat['PaymentMethod'].value_counts(normalize=True)

Electronic check             0.331437
Mailed check                 0.232461
Credit card (automatic)      0.218809
Bank transfer (automatic)    0.217292
Name: PaymentMethod, dtype: float64

In [74]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder( drop='first',sparse=False)

X_train_cat_ohe = pd.DataFrame(encoder.fit_transform(X_train_cat), 
                               columns=encoder.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5514,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1671,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
510,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1590,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3324,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [75]:
encoder.categories_

[array(['Female', 'Male'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'No phone service', 'Yes'], dtype=object),
 array(['DSL', 'Fiber optic', 'No'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['Month-to-month', 'One year', 'Two year'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['Bank transfer (automatic)', 'Credit card (automatic)',
        'Electronic check', 'Mailed check'], dtype=object)]

In [76]:
X_train_transformed=pd.concat([x_train_num_rescaled,X_train_cat_ohe],axis=1)
X_train_transformed.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5514,-0.438945,-1.035648,0.151080,-0.795902,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1671,-0.438945,-1.157923,0.514997,-0.865409,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
510,-0.438945,1.165295,1.389062,1.770434,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1590,2.278188,-1.239439,0.333869,-0.933484,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3324,-0.438945,-0.587308,-0.477051,-0.605849,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

# Data preparation on test data:

In [77]:
X_test_num=X_test.select_dtypes(include=['int64','float64'])
X_test_num.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
939               0      24           79.85       2001.00
3724              0      57          104.50       5921.35
1756              0      58           24.45       1513.60
2278              0       1           71.55         71.55
1867              0      41           19.70        804.25

In [78]:
x_test_num_rescaled=pd.DataFrame(Scaler.transform(X_test_num),
                                 columns=X_test_num.columns,
                                 index=X_test_num.index)
x_test_num_rescaled.head()

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
939       -0.438945 -0.342758        0.505026     -0.124435
3724      -0.438945  1.002262        1.324255      1.603476
1756      -0.438945  1.043021       -1.336161     -0.339259
2278      -0.438945 -1.280197        0.229180     -0.974849
1867      -0.438945  0.350131       -1.494025     -0.651908

In [79]:
X_test_cat=X_test.select_dtypes(include=['object'])
X_test_cat.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
939,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Credit card (automatic)
3724,Female,Yes,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic)
1756,Male,No,No,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic)
2278,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check
1867,Female,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic)

In [80]:
X_test_cat_le = pd.DataFrame(encoder.transform(X_test_cat), 
                               columns=encoder.get_feature_names_out(X_test_cat.columns), 
                               index = X_test_cat.index)

X_test_cat_le.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
939,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3724,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
1756,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
2278,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1867,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [81]:
X_test_transformed=pd.concat([x_test_num_rescaled,X_test_cat_le],axis=1)
X_test_transformed.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
939,-0.438945,-0.342758,0.505026,-0.124435,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3724,-0.438945,1.002262,1.324255,1.603476,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
1756,-0.438945,1.043021,-1.336161,-0.339259,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
2278,-0.438945,-1.280197,0.229180,-0.974849,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1867,-0.438945,0.350131,-1.494025,-0.651908,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# LogisticRegression

In [82]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_transformed, y_train)

LogisticRegression()

In [83]:
y_test_pred = classifier.predict(X_test_transformed)

In [84]:
from sklearn import metrics

metrics.accuracy_score(y_test, y_test_pred)

0.7957906712172924

# KNeighborsClassifier

In [85]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

metrics.accuracy_score(y_test, y_test_pred)

0.757679180887372

# DecisionTreeClassifier

In [94]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

metrics.accuracy_score(y_test, y_test_pred)

0.7252559726962458

# RandomForestClassifier

In [87]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train_transformed, y_train)

y_test_pred = classifier.predict(X_test_transformed)

metrics.accuracy_score(y_test, y_test_pred)

0.7821387940841866

# Support Vector Machines

In [92]:
from sklearn.svm import SVC
classifier=SVC()
classifier.fit(X_train_transformed, y_train)
y_test_pred = classifier.predict(X_test_transformed)
metrics.accuracy_score(y_test, y_test_pred)n

0.78839590443686

# conclusion:
* LogisticRegression is the best algorithm for Churn Prediction.
* when compared to other Classifiers LogisticRegression having more accuracy.
* accuracy value for LogisticRegression is 0.75.